.sectionDownloadNow {
  background: url("../../assets/background-section-download.jpg") no-repeat
    center center;
  overflow: hidden;
  padding-top: 12rem;
  padding-bottom: 15rem;
}

.downloadNowContainer {
  display: grid;
  grid-template-columns: 40rem 1fr;
  /* justify-content: space-between; */
}

.hat {
  width: 13.3rem;
  margin-bottom: 3rem;
}

.title {
  color: var(--white);
  font-size: 3.2rem;
  font-family: Poppins;
  font-weight: 700;
  line-height: 110.2%;
  margin-bottom: 3rem;
}

.characteristics {
  margin-bottom: 4rem;
}

.characteristics li {
  color: #828792;
  font-size: 1.8rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 178.2%;
}

.characteristics li + li {
  margin-top: 2.4rem;
}

.characteristics li svg {
  margin-right: 1.6rem;
}

.availableInMobile {
  margin-top: 4.8rem;
  display: flex;
  align-items: center;
}

.availableInMobile p {
  color: #e5e5e5;
  font-size: 1.4rem;
  font-family: Poppins;
  font-weight: 600;
  margin-left: 1.6rem;
}

.availableInMobile p span {
  text-decoration: underline;
}

.downloadNowRight {
  position: relative;
}

.dashboardImg {
  width: 105.3rem;
  position: absolute;
  right: -20%;
  animation: zigzag 8s ease-in-out infinite;
}

.popupDashboardImg {
  width: 56.3rem;
  position: absolute;
  right: -15%;
  animation: zigzag2 8s ease-in-out infinite;
  animation-delay: 0.5s;
}

@media (max-width: 1440px) {
  .downloadNowContainer {
    grid-template-columns: 35rem 1fr;
  }

  .dashboardImg {
    max-width: 105.3rem;
    width: 120%;
  }

  .popupDashboardImg {
    width: 100%;
    max-width: 56.3rem;
  }
}

@media (min-width: 901px) {
  .popupDashboardImg {
    bottom: 0;
  }
}

@media (max-width: 900px) {
  .sectionDownloadNow {
    padding-top: 6.3rem;
    padding-bottom: 34rem;
  }

  .downloadNowContainer {
    grid-template-columns: 1fr;
  }

  .popupDashboardImg,
  .dashboardImg {
    right: -8%;
  }

  .dashboardImg {
    animation: zigzag900 10s ease-in-out infinite;
  }
  .popupDashboardImg {
    animation: zigzag2900 8s ease-in-out infinite;
  }
}

@keyframes zigzag {
  0%,
  100% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(0);
  }
}

@keyframes zigzag900 {
  0%,
  100% {
    transform: translateY(20%);
  }
  50% {
    transform: translateY(40%);
  }
}

@keyframes zigzag2 {
  0%,
  100% {
    transform: translateY(20%);
  }
  50% {
    transform: translateY(40%);
  }
}

@keyframes zigzag2900 {
  0%,
  100% {
    transform: translateY(60%);
  }
  50% {
    transform: translateY(90%);
  }
}
