.headerContainer {
  padding: 2.8rem 0 2.6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.leftHeader {
  display: flex;
  align-items: center;
  gap: 12.1rem;
}

.rightHeader {
  display: flex;
  align-items: center;
  gap: 74px;
}

.logo {
  position: relative;
}

.logo::after {
  content: "";
  width: 43px;
  height: 2px;
  background: var(--blue);
  position: absolute;
  bottom: -28px;
  left: 0px;
  margin-top: 50px;
}

.menu {
  display: flex;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.menu li {
  position: relative;
  cursor: pointer;
}

.menu li svg {
  transition: 0.3s;
}

.menu li.arrowActive svg {
  transform: rotate(180deg);
}

.menu li.arrowActive svg path {
  stroke: var(--blue);
}

.menu li + li {
  margin-left: 3.4rem;
}

.menu li {
  user-select: none;
}

.menu li:nth-child(1) > svg,
.menu li:nth-child(2) > svg {
  margin-left: 1.4rem;
}

.header .hamburguerBtn {
  display: none;
}

.menu.ativo li:nth-child(1) > svg {
  transform: rotate(180deg);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnContainer {
  display: flex;
  gap: 1.6rem;
}

@media (max-width: 1130px) {
  .leftHeader nav {
    display: none;
  }

  .header .hamburguerBtn {
    border: none;
    background: transparent;
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end !important;
    gap: 9px;
    padding-right: 0;
    cursor: pointer;
  }

  .header .hamburguerBtn > div {
    width: 28px;
    height: 2px;
    background: var(--white);
  }
}

@media (max-width: 800px) {
  .btnContainer {
    display: none;
  }
}

/* .menu li:nth-child(1)::after,
.menu li:nth-child(2)::after {
  content: "";
  width: 10px;
  height: 5px;
  display: block;
  background: url("../../assets/arrow.svg") no-repeat center center;
  position: absolute;
  top: 42%;
  right: -20px;
} */
