.bannerContainer {
  position: relative;
  opacity: 0;
  animation: bannerAnimation 0.3s forwards;
  height: 736px;
}

@keyframes bannerAnimation {
  to {
    opacity: initial;
  }
}

.banner {
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 5.6rem !important;
}

.timer {
  height: 3px;
  background: var(--blue);
  width: 0%;
  animation: timer 5s linear forwards;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes timer {
  to {
    width: 100%;
  }
}

.title {
  color: var(--white);
  font-size: 6.4rem;
  font-family: Poppins;
  font-weight: 700;
  line-height: 110.2%;
  margin-bottom: 1.6rem;
}

.text {
  color: var(--white);
  font-size: 1.8rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.09px;
  margin-bottom: 3.2rem;
}

.banner ul {
  margin-top: 7.6rem;
}

.iconMenuBanner button {
  padding: 1rem 0;
}

.iconMenuBanner button img {
  filter: grayscale(1);
  width: 4.8rem;
}

.iconMenuBannerActive button img {
  filter: grayscale(0);
}

.iconMenuBanner button {
  cursor: unset;
}

.bannerInfos {
  margin: 0 16.6rem 0 16rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.bannerExtraInfos {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.bannerExtraInfos > img {
  margin-bottom: 9.6rem;
}

.bannerExtraInfos h3 {
  margin-bottom: 1.6rem;
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.gifContainer {
  position: relative;
}

.gifContainer {
  position: relative;
  width: 28rem;
  height: 15.8rem;
  overflow: hidden;
  border-radius: 4px;
}

.gif {
  height: 100%;
}

.thumb {
  position: absolute;
  top: 0;
  object-fit: cover;
  transition: 0.3s;
}

.gifContainer:hover .thumb,
.gifContainer:hover .play {
  opacity: 0;
}

.play {
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(
    163deg,
    rgba(0, 174, 255, 0.9) 0%,
    rgba(0, 174, 255, 0.45) 100%
  );
  backdrop-filter: blur(1.5px);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.play img {
  width: 1.57rem;
  margin-left: 4px;
}

@media (max-width: 1140px) {
  .bannerInfos {
    margin: 0 10rem 0 8rem;
  }
}

@media (max-width: 1024px) {
  .bannerInfos {
    margin-left: 8rem;
  }

  .bannerExtraInfos {
    display: none;
  }
}

@media (max-width: 680px) {
  .bannerContainer {
    height: 625px;
  }

  .banner {
    padding-top: 7.7rem !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .banner ul {
    display: flex;
    justify-content: flex-start;
    order: 1;
    margin-top: 4.8rem;
  }

  .banner ul li {
    padding: 0;
  }

  .banner ul li + li {
    margin-left: 1.6rem;
  }

  .title {
    font-size: 4.8rem;
  }

  .bannerInfos {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 4rem;
  }
}
